@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/*----------------------------Headings------------------*/

h2 {
    text-align: center;
    font-size: 2.3rem;
    letter-spacing: 2px;
    font-family: 'Hind Siliguri', sans-serif;
    text-transform: uppercase;
    color: #f1f1f1;
}



/*----------------------------Nav Bar-------------------*/

.navbar {
    background-color: #1f2833;
    position: relative;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Hind Siliguri', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.navbar-brand:hover {
    color: #22c3da;
}

.nav-item a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Hind Siliguri', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.nav-item a:hover {
    color: #22c3da;
}

#navbar-menu ul {
    float: right;
    margin-right: 10px;
}

.navbar-toggler {
    color: #fff;
}

/*------------------------------Hero Image------------------------*/

.bgimage {
  width: 100%;
  height: 500px;
  background: url("../images/heroimage.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*------------------------------About Us ---------------------------*/

body {
    background-color: #1f2833;
}

.lead {
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #f1f1f1;
    font-size: 1.25rem;
    font-weight: 300;
}

.featurette {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.featurette-heading {
    text-align: center;
    width: 100%;
    max-width: 100%;
}


/*------------------------------Facilities----------------------------*/

.gym-facilities {
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #fff;
    color: #0b0c10;   
}

.gym-facilities h2 {
    margin-top: 10px;
    color: #0b0c10;
}

.list {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-group-item {
    position: relative;
    padding: 1rem 1.25rem;
    background-color: #1f2833;
    border: 1px solid #22c3da;
    color: #fff;
}

/*------------------------------Trainers----------------------------*/
.trainers {
    text-align: center;
}

.trainer-image {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 0px;
    border-radius: 50%;
    object-fit: cover;
}

.trainer-section {
    padding: 50px;
}

.trainer-section h2 {
    padding-top: 20px;
}

.trainer-section p {
    color: #fff;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

/*-------------------------Win----------------------*/

#submit-button {
    font-family: 'Hind Siliguri', sans-serif;
    color: #0b0c10;
    background-color: #22c3da;
    border: 1px solid #22c3da;
    width: 100%;
    padding: 10px 0;
    border-radius: 0;
    font-size: 14px;
    line-height: 22px;
}

.success {
    display: none;
}

.submitted .success {
    display: block;
}

.submitted .form-content {
    display: none;
}

.success p {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 120%;
    text-align: center;
}

.incentive {
    padding-top: 50px;
    padding-bottom: 50px;
    border-style: solid;
    border-color: #22c3da;
    background-color: #0b0c10;
    margin-bottom: 50px;
}

.incentive-heading {
    padding-bottom: 50px;
    color: #fff;
}


/*--------------------------------Map-------------------------------*/

#map-wrapper {
    font-size: 0px;
}

/*-------------------------------Footer-----------------------------*/

.footer-top {
    text-align: center;
    color: #22c3da;
    background-color: #1f2833;
    padding: 10px;
    }

.footer-socials a {
    color: #fff;
    font-size: 30px;
    padding: 15px;
}

.footer-socials a:hover {
    color: #22c3da;
}

.footer-bottom {
    padding-left: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #0b0c10;
}

.footer-bottom a {
    color: #fff;
}

.footer-bottom a:hover {
    color: #22c3da;
    text-decoration: none;
}


/*-------------------------form----------------------*/

.message-content {
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 100px;
}

.message-content p {
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    padding: 25px 0;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.message-color {
    width: 100%;
    padding: 20px;
    margin-top: 50px;
}

.btn-primary {
    color: #fff;
    background-color: #22c3da;
    border: 1px solid #22c3da;
}

.btn-full-width {
    width: 100%;
}

.btn {
    padding: 10px 0;
    border-radius: 0;
    font-size: 14px;
    line-height: 22px;
}

.contact-details {
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #fff;
    color: #0b0c10;   
    padding: 50px 0px;
    margin-top: 50px;
}

.contact-heading {
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #fff;
    color: #0b0c10;
}

.contact-heading h2 {
    margin-top: 10px;
    color: #0b0c10;
}

.list {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-group-item {
    position: relative;
    padding: 25px 25px;
    border: 1px solid #22c3da;
    color: #fff;
    text-align: center;
}

.contact-heading i {
    color: #22c3da;
    padding: 15px;
    width: 100%;
}

@media only screen and (min-width: 850px) {
    .contact-heading i {
        width: auto;
    }
}

.contact-form {
    padding: 25px 25px;
}



/*--------------------------Classes---------------------------*/

.schedule-table {
    overflow-x: auto;
    background-color: #fff;
}

.title h2 {
    margin-bottom: 25px;
}

.table {
    border: 2px solid #22c3da;
}

.table thead tr {
    background-color: #22c3da;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    line-height: 16px;
    font-weight: 600;
}

.table td {
    border: 2px solid #22c3da;
    min-width: 150px;
}

.table td > div {
    min-height: 100px;
    padding: 20px 0 0 0 ;
}

.table {
    border: 2px solid #22c3da;
    font-family: 'Hind Siliguri', sans-serif;
    margin-bottom: 0;
    color: #0b0c10;
}

.table th {
    border: 2px solid #22c3da;
}

.table td.day {
    border: 2px solid #22c3da;
    letter-spacing: 2px;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 1.5rem;
}

.table td .day {
    letter-spacing: 2px;
    text-align: center;
    line-height: 16px;
    font-weight: 600;
}

td h4 {
    letter-spacing: 2px;
    text-align: center;
    font-weight: 600;
}

td p {
    text-align: center;
}

.book-now {
    background-color: #0b0c10;
    padding-top: 25px;
    padding-bottom: 25px;
}
