/*----------------------------Nav Bar-------------------*/

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    color: #000000;
    text-transform: uppercase;
}

.navbar-brand:hover {
    color: #cf0404;
}

.nav-item a {
    color: #000000;
    text-transform: uppercase;
}

#navbar-menu li {
    float: right;
    margin-right: 10px;
}

/*------------------------------Trainers----------------------------*/

.container-trainers {
    text-align: center;
}

.trainers-heading {
    text-align: center;
}

.trainer-image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
}



/*---------------------------Footer--------------------*/

.footer-top {
    text-align: center;
    color: #ffffff;
    background-color: #f1f1f1;
}

.footer-socials a {
    color: #000000;
}

.footer-socials a:hover {
    color: #cf0404;
}

.footer-bottom {
    text-align: center;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.2);

}

.footer-bottom a {
    color: #000000;
}

/*-------------------------Win----------------------*/

#submit-button {
    color: #fff;
    background-color: #fc328a;
    border: 1px solid #fc328a;
    width: 100%;
    padding: 10px 0;
    border-radius: 0;
    font-size: 14px;
    line-height: 22px;
}

/*-------------------------form----------------------*/

.contacts {
    padding: 100px;
}

form {
    display: block;
    margin-top: 0em;
}

.btn-primary {
    color: #fff;
    background-color: #fc328a;
    border: 1px solid #fc328a;
}

.btn-full-width {
    width: 100%;
}

.btn {
    padding: 10px 0;
    border-radius: 0;
    font-size: 14px;
    line-height: 22px;
}

